// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Transition duration
$delaySm: 0.3s;

$zIndex: (
  "-1": -1,
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "5": 5,
  "100": 100,
  "1000": 1000,
  "9998": 9998,
  "9999": 9999,
);