@use '../global/mixin/breakpoint' as *;
@use '../config/variables' as v;
@use '../global/colors' as c;

.footer {
  padding: 30px 0;
  background-color: c.$gray-3d;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include media-breakpoint-down(xl) {
      flex-wrap: wrap;
      gap: 24px;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    display: flex;
    justify-content: center;
    gap: 0 40px;

    @include media-breakpoint-down(xl) {
      gap: 24px;
    }

    @include media-breakpoint-down(lg) {
      justify-content: center;
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      width: 1px;
      background-color: c.$light-gray-c3;

      @include media-breakpoint-down(lg) {
        content: none;
      }
    }

    &:first-child {
      &::before {
        content: none;
      }

      @include media-breakpoint-down(xl) {
        order: 3;
        width: 100%;
        text-align: center;
      }
    }

    &:nth-child(2) {
      &::before {
        @include media-breakpoint-down(xl) {
          content: none;
        }
      }

      @include media-breakpoint-down(xl) {
        order: 1;
      }
    }

    &:last-child {
      @include media-breakpoint-down(xl) {
        order: 2;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 38px;
  }
}
