@use "sass:map";
@use '../global/mixin/breakpoint' as *;
@use '../config/variables' as v;
@use '../global/colors' as c;

.header {
  position: fixed;
  z-index: map.get(v.$zIndex, "9998");
  top: 0;
  left: 0;
  width: 100%;
  padding: 33px 0 32px;
  background-color: rgba(c.$black-10, 0.9);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: c.$white;
  }

  &__navigation {
    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 97px;
      left: 0;
      width: 100%;
      height: calc(100dvh - 97px);
      translate: 100%;
      transition: translate v.$delaySm ease;
    }

    &.active {
      @include media-breakpoint-down(xl) {
        translate: 0;
      }
    }
  }

  &__navigation-wrapper {
    @include media-breakpoint-down(lg) {
      padding: 60px 40px;
      width: 100%;
      height: 100%;
      background-color: rgba(c.$black-10, 0.9);
    }
  }

  &__burger {
    display: none;

    @include media-breakpoint-down(lg) {
      display: flex;
    }
  }
}
