@use "../global/mixin/typography" as *;
@use "../global/mixin/button" as *;
@use "../global/mixin/hover" as *;
@use "../global/colors" as c;

button {
  border: unset;
  border-radius: unset;
  background-color: unset;
  outline: unset;
}

.btn {
  @include btn;

  .text {
    @include typo-caption-2;
    color: inherit;
  }

  &_primary {
    @include btn-color(c.$white, c.$white, c.$skyblue);

    @include hover {
      @include btn-color(c.$white, c.$white, c.$blue);
    }
  }

  &_secondary {
    @include btn-color(c.$black-2a, c.$gray-6f, c.$white);

    @include hover {
      @include btn-color(c.$white, c.$black-27, c.$black-27);
    }
  }

  &_full-width {
    width: 100%;
  }

  &_uppercase-text {
    text-transform: uppercase;
  }
}
