@use "sass:map";
@use '../config/variables' as v;
@use '../config/path' as *;
@use '../global/colors' as c;
@use '../global/mixin/text-wrap' as *;
@use '../global/mixin/hover' as *;

.input-file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  width: 100%;
  border: 2px solid c.$skyblue;
  border-radius: 3px;
  color: c.$black-27;
  background-color: c.$white;
  cursor: pointer;
  transition: color v.$delaySm ease, background-color v.$delaySm ease;

  input[type="file"] {
    position: absolute;
    z-index: map.get(v.$zIndex, "-1");
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__icon {
    width: 17px;
    height: 20px;
    color: inherit;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      mask-image: url($icons + "/drag-file.svg");
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: currentColor;
    }
  }

  &__text {
    color: inherit;
    @include text-wrap(1);
  }

  @include hover {
    color: c.$white;
    background-color: c.$skyblue;
  }
}
