@use '../global/mixin/breakpoint' as *;
@use '../global/colors' as c;
@use '../config/variables' as v;
@use '../global/mixin/typography' as *;
@use '../global/mixin/hover' as *;

.navigation {
  $self: &;
  display: flex;
  align-items: center;
  gap: 60px;
  list-style-type: none;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  &__item {
    &_active {
      #{$self}__link {
        color: c.$skyblue;
        pointer-events: none;
      }
    }
  }

  &__link {
    @include typo-caption-1;
    color: c.$white;
    transition: color v.$delaySm ease;

    @include hover {
      color: c.$skyblue;
    }
  }
}
